*
!bin/ocilocal
!docker/entrypoint.sh
!docker/gen-oci-cli-config.py
!pom.xml
!src/**
!target/*.so
!target/*.properties
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
!native/**
